<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.guli.service_edu.mapper.EduTeacherMapper">
<select id="selectTeacherNameById" resultType="String" >
    select name from edu_teacher WHERE id = #{teacherId}
</select>
</mapper>
